<div class="login-container">
  <form class="login-form">
    <div class="form-group">
      <label for="email" class="input-label">Correo Electrónico</label>
      <input type="email" id="email" class="input-field" placeholder="nombre@gmail.com" required />
    </div>
    <div class="form-group">
      <label for="password" class="input-label">Contraseña</label>
      <input type="password" id="password" class="input-field" placeholder="••••••••" required />
    </div>
    <button type="submit" class="submit-button">Acceder</button>
    <div class="center-button">
      <button-template label="Crear cuenta" route="/register"></button-template>
    </div>
  </form>
</div>
