<form class="max-w-sm mx-auto">
  <div class="mb-5">
    <label for="ContraseñaActual" class="input-label">Contraseña Actual</label>
    <input type="text" id="contrasenia" class="input-field" placeholder="Nombre" required />
  </div>
  <div class="mb-5">
    <label for="newpassword" class="input-label">Contraseña nueva</label>
    <input type="text" id="newcontrasenia" class="input-field" placeholder="Nombre" required />
  </div>
  <div class="mb-5">
    <label for="newpassword" class="input-label">Confirma contraseña actual</label>
    <input type="text" id="confirmcontrasenia" class="input-field" placeholder="Nombre" required />
  </div>
  <div class="center-button">
    <button-template label="Guardar" route="/product-list"></button-template>
  </div>
</form>
