<nav class="navbar">
  <div class="max-w-screen-xl">
    <div class="navbar-left">
      <logo></logo>
    </div>
    <div class="navbar-center">
      <search-bar></search-bar>
    </div>
    <div class="navbar-right">
      <ul class="navbar-menu-list">
        <li>
          <dropdown-button label="Filtrar" route="/product-list"></dropdown-button>
        </li>
        <li>
          <button-template label="Carrito" route="/shopping-cart"></button-template>
        </li>
        <li>
          <button-template label="Cuenta" route="/login"></button-template>
        </li>
        <li>
          <button-template label="Modo administrador" route="/products-admin"></button-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
