<navbar-product></navbar-product>

<div class="card-container">
  <card-product></card-product>
  <card-product></card-product>
  <card-product></card-product>
  <card-product></card-product>
  <card-product></card-product>
  <card-product></card-product>
  <card-product></card-product>
  <card-product></card-product>
  <card-product></card-product>
  <card-product></card-product>
  <card-product></card-product>
  <card-product></card-product>
</div>

<div class="pagination-container">
  <button class="pagination-button">Anterior</button>
  <span class="pagination-info">Página 1</span>
  <button class="pagination-button">Siguiente</button>
</div>
