<nav class="navbar">
  <div class="max-w-screen-xl">
    <div class="navbar-left">
      <logo></logo>
    </div>
    <div class="navbar-right">
      <ul class="navbar-menu-list">
        <li>
          <button-template label="Productos" route="/product-list"></button-template>
        </li>
        <li>
          <button-template label="Carrito" route="/shopping-cart"></button-template>
        </li>
        <li>
          <button-template label="Iniciar Sesión" route="/login"></button-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
