<nav class="navbar">
  <div class="max-w-screen-xl">
    <div class="navbar-left">
      <logo></logo>
    </div>
    <div class="navbar-right">
      <ul class="navbar-menu-list">
        <li>
          <navbar-button label="Productos" route="/product-list"></navbar-button>
        </li>
        <li>
          <navbar-button label="Carrito" route="/shopping-cart"></navbar-button>
        </li>
        <li>
          <navbar-button label="Iniciar Sesión" route="/login"></navbar-button>
        </li>
      </ul>
    </div>
  </div>
</nav>
