<div
  class="flex flex-col items-center border border-gray-300 rounded-lg overflow-hidden shadow-sm m-2 hover:scale-105 transition-transform duration-300 w-full max-w-xs relative">
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
    <div class="card-body flex flex-col items-center text-center">
      <h5 class="text-center"><strong>{{ product.name }}</strong></h5>
      <h2 class="p-4 text-sm text-center">{{ product.type }}</h2>
      <p class="card-price text-center">${{ product.price}}</p>
      <input
        formControlName="quantity"
        type="number"
        min="1"
        class="w-16 p-2 mt-2 border border-gray-300 rounded-lg text-center"
      />
      <button type="submit" class="btn btn-primary mt-4">Agregar al Carrito</button>
    </div>
  </form>
</div>