<form class="max-w-sm mx-auto">
  <div class="mb-5">
    <label for="name" class="input-label">Nombre</label>
    <input type="text" id="name" class="input-field" placeholder="Nombre" required />
  </div>
  <div class="mb-5">
    <label for="email" class="input-label">Correo Electrónico</label>
    <input type="email" id="email" class="input-field" placeholder="nombre@gmail.com" required />
  </div>
  <div class="mb-5">
    <label for="birthdate" class="input-label">Fecha de Nacimiento</label>
    <input type="text" id="birthdate" class="input-field" placeholder="DD-MM-YYYY" required />
  </div>
  <div class="mb-5">
    <label for="password" class="input-label">Contraseña</label>
    <input type="password" id="password" class="input-field" required />
  </div>
  <div class="mb-5">
    <label for="gender" class="input-label">Género</label>
    <select id="gender" class="input-field" required>
      <option value="" disabled selected>Seleccione una opción</option>
      <option value="female">Mujer</option>
      <option value="male">Hombre</option>
      <option value="other">Otro</option>
      <option value="prefer-not-to-say">Prefiero no decirlo</option>
    </select>
  </div>
  <div class="flex items-start mb-5">
    <div class="flex items-center h-5">
      <input id="terms" type="checkbox" value="" class="checkbox-field" required />
    </div>
    <label for="terms" class="ms-2 input-label">Estoy de acuerdo con los <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">términos y condiciones</a></label>
  </div>
  <button type="submit" class="submit-button">Registrar nueva cuenta</button>
</form>
