<div class="search-bar-container">
  <div class="search-bar">
    <input type="text" #searchText placeholder="Search products..." />
    <button (click)="searchCompleted.emit(searchText.value)" class="search-button">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>     
    </button>
  </div>
  <!-- Help text -->
  <span class="text-sm text-gray-700 dark:text-gray-400">
    Página <span class="font-semibold text-gray-900 dark:text-white">{{ pageNumber }}</span> de <span class="font-semibold text-gray-900 dark:text-white">{{ totalPages }}</span> de <span class="font-semibold text-gray-900 dark:text-white">{{ totalItems }}</span> productos
  </span>
</div>
